
@font-face {
  font-family: "Get Schwifty";
  src: local("Get Schwifty"),   url(./fonts/get_schwifty.ttf/) format("truetype");}

/* declare custom colors */
:root {
    /* --adoblue: #1a202c;
     */
    --rm-green: #66AD53;
    --rm-acid-green: #8BCF21;
    --rm-yellow: #EDD33A;
    --rm-red: #9C813B;
    --rm-blue: #9ABCCC;
    --rm-black: #1e1e1e;
    --rm-dark-gray: #444444;
    --rm-white: #f7fafc;
    --rm-dark-yellow: #9C813B;
    --rm-brown:#917c5d;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Get Schwifty', cursive;
}

body{
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.template_class{
    background-color: #1e1e1e!important;
}

.navbar_title{
    color: #8BCF21;
    font-size: 45px;
    font-weight: 600;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #9ABCCC;
    text-shadow: 0px 0px 10px #9ABCCC;
}


.navbar{
    z-index: 2;
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: 100%;
    background: rgba(29, 28, 28, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*responsive*/
@media screen and (max-width: 300px) {
    .navbar{
        position: absolute;
        margin: auto;
        width: 100%;
        background: rgba(29, 28, 28, 0.7);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}


.leaderboard-icon{
    padding-top: 10px;
    margin-left: 70px;
    width:50px;
    height: 50px;
}

ul{
    list-style-type: none;
}

ul li{
    text-align: center;
    background: rgba(29, 28, 28, 0);
    padding: 20px 5px 20px 5px;
    color: #9ABCCC;

}
.span_li{
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #8BCF21;
    font-size: 25px;
    padding-bottom: 10px;
    cursor: pointer;
}
.span_li:hover{
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #9C813B;
    color: #EDD33A;
    transition: 0.5s;
    /* background-color: var(--rm-white); */
}


.navbar ul div li:hover{
    transition: 0.5s;
    background-color: #363636;
}

.route_view{
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    overflow: hidden;
    font-family: 'Get Schwifty', cursive;
}

.svg-arrow{
    padding-top:10px;
}

.navbar_clickable{
    cursor: pointer;
    text-shadow: 0px!important;
}


.qr-code-box{

    top:30px;
    position: relative;
    height: 700px;
    width: 300px;
    display:flex;
    margin: auto;
    flex-direction: column;    
    justify-content: center;
}

.qr-code-box span{
    text-align: center;
    font-size: 36px;
    color: #EDD33A;
}

.qr-code-box div{
    margin-left:15px;
    position: absolute;
    height: 270px;
    width: 270px;
    background-color: black;
}


.timer-module{
    top: 165px;
    position: relative;
    height: 100px;
    width: 300px;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #8BCF21;
}
.timer-module p{
    text-align: center;
}

.timer{
    margin-top: 45px;
    margin-bottom: 45px;
    color:#66AD53;
}

.participants{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:200px;
    padding-top:15px;
    padding-bottom:15px;

}

.container{
    border: 1px solid var(--rm-dark-yellow);
    background-color: var(--rm-black);
    width:200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius:10px;
}

.container li{
    color: var(--rm-green);
    text-shadow: 0px 0px 10px var(--rm-dark-yellow);
    font-size: 20px;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--rm-yellow);
    border-bottom: #9C813B 1px solid;
}

.team-name{
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: var(--rm-dark-yellow);
    color: aqua;
    text-shadow: 0px 0px 10px #9ABCCC;
}

.information{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:200px;
    padding-top:15px;
    padding-bottom:15px;
}

.hint_li{
    background-color: var(--rm-dark-gray);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--rm-green);
    padding-top:10px;
    padding-bottom:10px;
    padding-left:35px;
    border-radius: 10px;
    color:var(--rm-yellow)
}

.hint-button{
    border-style: none;
    font-size: 15px;
    font-weight: 600;

    border-radius: 10px;
    margin-left:20px;
    width:100px;
    height:40px;
    background-color: var(--rm-acid-green);
}

.hint-button:hover{
    transition:0.5s;
    background-color: var(--rm-green);
}

.explanation{
    display:flex; 
    flex-direction:column; 
    justify-content:center;
}

.explanation-video{
    margin-top: 170px;
    /* width: auto; */
}

.explanation-transcript{
    background-color: #1e1e1e65;
    width:350px;
    margin: auto;
}
.nav-title{
    cursor: pointer;
}

.explanations-text{
    background-color: #1e1e1e65;
    margin: auto;
}
.explanations-text li{
    text-align: center;
}
